<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Details</title>
    <link rel="stylesheet" type="text/css" href="detailstyle.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, <%= user.userid %></h1>
        <hr/>
        <h2>Booking Details</h2>
        <hr/>
        <p><strong>Booking Name:</strong> <%= booking.bookingname %></p>
        <p><strong>Mobile:</strong> <%= booking.mobile %></p>
        <p><strong>Party Size:</strong> <%= booking.size %></p>
        <p><strong>Date:</strong> <%= booking.date %></p>

        <% if (booking.photo) { %>
            <img src="data:image/jpg;base64,<%= booking.photo %>" alt="Booking Photo"><br>
        <% } %>

        <% if (booking.userid) { %>
            <p><small>Created by User ID: <%= booking.userid %></small></p>
        <% } %>
        <br>
        <a class="button" href="/edit?_id=<%= booking._id %>">Edit</a>
        <a class="button" href="/delete?_id=<%= booking._id %>">Delete</a>
    </div>
</body>
</html>