<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Booking</title>
    <link rel="stylesheet" type="text/css" href="editstyle.css">
</head>
<body>
    <div class="form-container">
        <form action="/update?_id=<%= booking._id %>" method="post">
            <h1>Edit Booking</h1>
            <div>
                <label for="bookingname">Booking Name:</label>
                <input type="text" id="bookingname" name="bookingname" placeholder="<%= booking.bookingname %>" autocomplete="off" required>
            </div>
            <div>
                <label for="mobile">Mobile:</label>
                <input type="text" id="mobile" name="mobile" placeholder="<%= booking.mobile %>" autocomplete="off" required>
            </div>
            <div>
                <label for="size">Size:</label>
                <select type= "Number" name="size" id="size" placeholder="<%= booking.size %>" required autocomplete="off">
                    <option value="" disabled selected>Select Size</option>
                    <option value="1">1 people</option>
                    <option value="2">2 people</option>
                    <option value="3">3 people</option>
                    <option value="4">4 people</option>
                </select>
            </div>
            <div>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" placeholder="<%= booking.date %>" autocomplete="off" required>
            </div>
            <button type="submit">Update Booking</button>
            <a href="/home">
                <button type="button" class="home-button">Home</button>
            </a>
        </form>
    </div>
</body>
</html>